USE [master]
GO
/****** Object:  Database [LMS]    Script Date: 12/10/2025 4:22:10 PM ******/
CREATE DATABASE [LMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LMS_Data', FILENAME = N'D:\Library Mangagement\LMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LMS_Log', FILENAME = N'D:\Library Mangagement\LMS.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LMS]
GO
/****** Object:  Table [dbo].[DAUSACH]    Script Date: 12/10/2025 4:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAUSACH](
	[IDSach] [nvarchar](50) NOT NULL,
	[TenSach] [nvarchar](100) NOT NULL,
	[TheLoai] [nvarchar](50) NULL,
	[TacGia] [nvarchar](100) NULL,
	[NhaXuatBan] [nvarchar](100) NULL,
	[NamXuatBan] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/10/2025 4:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [nvarchar](50) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](200) NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[NgayDangKy] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLSACH]    Script Date: 12/10/2025 4:22:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLSACH](
	[AccessionNo] [nvarchar](50) NOT NULL,
	[IDSach] [nvarchar](50) NOT NULL,
	[TinhTrang] [bit] NOT NULL,
	[NguoiMuon] [nvarchar](50) NULL,
	[NgayNhap] [date] NULL,
	[GhiChu] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[AccessionNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  DEFAULT (getdate()) FOR [NgayDangKy]
GO
ALTER TABLE [dbo].[QLSACH] ADD  CONSTRAINT [DF_QLSACH_TinhTrang]  DEFAULT ((1)) FOR [TinhTrang]
GO
ALTER TABLE [dbo].[QLSACH] ADD  DEFAULT (getdate()) FOR [NgayNhap]
GO
ALTER TABLE [dbo].[QLSACH]  WITH CHECK ADD FOREIGN KEY([IDSach])
REFERENCES [dbo].[DAUSACH] ([IDSach])
GO
ALTER TABLE [dbo].[QLSACH]  WITH CHECK ADD FOREIGN KEY([NguoiMuon])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[QLSACH]  WITH CHECK ADD  CONSTRAINT [CK_QLSACH_TinhTrangNguoiMuon] CHECK  (([TinhTrang]=(0) AND [NguoiMuon] IS NOT NULL OR [TinhTrang]=(1) AND [NguoiMuon] IS NULL))
GO
ALTER TABLE [dbo].[QLSACH] CHECK CONSTRAINT [CK_QLSACH_TinhTrangNguoiMuon]
GO
USE [master]
GO
